<div class="card">
    <a [routerLink]="['/recipes', recipe.title]" style="text-decoration: none; color: black;">
        <div class="card-img-wrapper">
            <img class="card-img-top img-fluid zoom" src="{{recipe.image_url}}" alt="image not found">
        </div>
        <div class="card-body">
            <div class="row text-truncate">
                <div class="col">
                    <h5 class="card-title">{{recipe.title}}</h5>
                </div>
            </div>
            <div class="row">
                <div class="col text-truncate">
                    <h6 class="card-subtitle mb-2 text-muted">{{recipe.typeOfMeal}}</h6>
                </div>
            </div>
            <div class="row">
                <div class="col text-truncate">
                    <p class="card-text">{{recipe.description}}</p>
                </div>
            </div>
        </div>
    </a>
</div>
