<div class="container">
    <br>
    <div *ngIf="showCards">
        <div class="row">
            <div class="col">
                <a routerLink="nutrition" style="text-decoration: none; color: white;">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Nutrition schedule</h5>
                            <p class="card-text">Your nutrition schedule</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
                <a routerLink="shopping" style="text-decoration: none; color: white;">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Shopping schedule</h5>
                            <p class="card-text">Your shopping schedule</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <!-- Miejsce na renderowanie podstron -->
    <router-outlet></router-outlet>

 
    
</div>