<div class="row h-100 d-flex flex-column" style="margin-left: 5px;" *ngIf="show">

    <div class="row" style="margin-bottom: 50px;">
        <div class="col text-center">
            <button class="btn btn-light m-2" (click)="previous()"> <  </button>
            {{ today | date:'MMMM YYYY' }}
            <button class="btn btn-light m-2" (click)="next()"> > </button>
        </div>
    </div>

    <div class="row  flex-nowrap" style="margin-bottom: 5px;">
        <div class="col text-center text-truncate overflow-hidden" style="min-width: 1rem;">MONDAY</div>
        <div class="col text-center text-truncate" style="min-width: 1rem;">TUESDAY</div>
        <div class="col text-center text-truncate" style="min-width: 1rem;">WEDNESDAY</div>
        <div class="col text-center text-truncate" style="min-width: 1rem;">THURSDAY</div>
        <div class="col text-center text-truncate" style="min-width: 1rem;">FRIDAY</div>
        <div class="col text-center text-truncate" style="min-width: 1rem;">SATURDAY</div>
        <div class="col text-center text-truncate" style="min-width: 1rem;">SUNDAY</div>
    </div>

    <!-- <div *ngFor="let week of weeks; let weekIndex = index" class="row flex-grow-1 flex-nowrap">
        <a href="">
        <div *ngFor="let day of days; let dayIndex = index" class="col border d-flex justify-content-center" style="min-width: 1rem;">
            <span *ngIf="weekIndex === 0 && dayIndex < firstDayOffset">{{ previousMonthDays[dayIndex] }}</span>
            <span *ngIf="weekIndex === 0 && dayIndex >= firstDayOffset">{{ currentMonthDays[dayIndex - firstDayOffset] }}</span>
            <span *ngIf="weekIndex > 0 && (weekIndex * days.length + dayIndex - firstDayOffset) < currentMonthDays.length">{{ currentMonthDays[weekIndex * days.length + dayIndex - firstDayOffset] }}</span>
            <span *ngIf="weekIndex > 0 && (weekIndex * days.length + dayIndex - firstDayOffset) >= currentMonthDays.length">{{ nextMonthDays[(weekIndex * days.length + dayIndex - firstDayOffset) - currentMonthDays.length] }}</span>
        </div>
        </a>
    </div> -->

    <div *ngFor="let week of weeks; let weekIndex = index" class="row flex-grow-1 flex-nowrap">
        <div *ngFor="let day of days; let dayIndex = index" class="col border d-flex justify-content-center" style="min-width: 1rem;">
            <a
                [routerLink]="['/schedules', scheduleType, 'day-details', getDayDate(weekIndex, dayIndex)]" 
                class="d-flex flex-column justify-content-center w-100 h-100" style="text-decoration: none; color: black;">
                
                <div class="day-number text-center"> <!-- Dodano klasę text-center -->
                    <span *ngIf="weekIndex === 0 && dayIndex < firstDayOffset">{{ previousMonthDays[dayIndex] }}</span>
                    <span *ngIf="weekIndex === 0 && dayIndex >= firstDayOffset">{{ currentMonthDays[dayIndex - firstDayOffset] }}</span>
                    <span *ngIf="weekIndex > 0 && (weekIndex * days.length + dayIndex - firstDayOffset) < currentMonthDays.length">
                        {{ currentMonthDays[weekIndex * days.length + dayIndex - firstDayOffset] }}
                    </span>
                    <span *ngIf="weekIndex > 0 && (weekIndex * days.length + dayIndex - firstDayOffset) >= currentMonthDays.length">
                        {{ nextMonthDays[(weekIndex * days.length + dayIndex - firstDayOffset) - currentMonthDays.length] }}
                    </span>
                </div>
                
                <div class="day-elements">
                    <ul class="list-group d-none d-md-block">
                        <li class="list-group-item list-group-item-success text-truncate">Breakfast</li>
                        <li class="list-group-item list-group-item-success text-truncate">Lunch</li>
                        <li class="list-group-item list-group-item-success text-truncate">Dinner</li>
                    </ul>
                </div>
    
            </a>
        </div>
    </div>

</div>
<div class="container" *ngIf="!show">
    <router-outlet></router-outlet>
</div>