<div class="container-fluid" style="height: 100vh;">
    <div class="row" style="height: 100%;">
        <div class="col-md-6" style="padding-right: 0px;">
            <div class="row text-center" style="margin-top: 50px;">
                <h1>{{recipe?.title}}</h1>
            </div>
            <br>
            <div class="row text-center" style="margin-bottom: 50px;">
                <i>{{recipe?.description}}</i>
            </div>
            <div class="row text-center">
                <div class="col">
                    <hr>
                    <br>
                </div>
            </div>
            <div class="row g-1 justify-content-center">
                <div class="col-auto" *ngFor="let i of recipe?.ingredients">
                    <p><strong> &#8226; {{i.name}} {{i.weight}} g</strong></p>
                </div>
            </div>
            <div class="row text-center" style="margin-top: 25px;">
                <p>{{recipe?.preparation_methhod}}</p>
            </div>

            <div class="row"> 
                <div class="col">
                    <button type="button" class="btn btn-primary">Add to shopping list</button>
                </div>
                <div class="col">
                    <button type="button" class="btn btn-primary">Add to nutrition schedule</button>
                </div>
            </div>
        </div>

        <div class="col-md-6 d-flex align-items-stretch" style="padding-right: 0px;">
            <img class="img-fluid" src="{{recipe?.image_url}}" alt="Recipe image" >
        </div>
    </div>
</div>
