<div class="container">
    <br>
    <br>
    <div class="row">
        <div class="col-6">
             <h1>{{product?.name}}</h1>
        </div>
        <div class="col-6 text-end">
            <h1>{{product?.price}} PLN</h1>
        </div>
        <hr>
    </div>
    <div class="row">
        <div class="col-md-6 col-lg-6">
            <br><br>
            <div class="row">
                <div class="col">
                <img src="{{product?.image_url}}" alt="image not found" style="max-height:500px;" class=" border border-secondary rounded img-fluid">
            </div> 
        </div>
        </div>
        <div class="col-md-6 col-lg-6 text-center">
            <br>
            <div class="row">
                <div class="col-6">
                    <p>Weight</p>
                </div>
                <div class="col-6">
                   <p>{{product?.weight}} {{ getUnitLabel(product?.unitId!) }}</p> 
                </div>
            </div>
            <br>
            <div class="row text-center">
                <div class="col">Nutritional values ​​per 100g</div>
            </div>
            <hr>
            <div class="row">
                <div class="col-6">
                    <p>Calories</p>
                </div>
                <div class="col-6">
                   <p>{{product?.calories}} kcal</p> 
                </div>
                <hr>
            </div>

            <div *ngFor="let n of product?.nutrient" class="row">
                <div class="col-4 text-start">
                    <p>{{ n.name }}</p>
                </div>
                <div class="col-4">
                    <p>{{ n.amount }} g</p>
                </div>
                <div class="col-4 text-end">
                    <p>{{ n.dailyValue }} %</p>
                </div>
            </div>
            <hr>
        
            <!-- <div class="row text-center">
                <div class="col">
                    <br>
                    <button type="button" class="btn btn-success">Add to shopping list</button>
                </div>
            </div>       -->
        </div>
        
    </div>
</div>
