<div class="container">
    <br>
    <br>
    <div class="row">
        <div class="col-6">
             <h1>{{product?.name}}</h1>
        </div>
        <div class="col-6 text-end">
            <h1>{{product?.price}} PLN</h1>
        </div>
        <hr>
    </div>
    <div class="row">
        <div class="col-6">
            <br><br>
            <div class="row">
                <div class="col">
                <img src="{{product?.image_url}}" alt="image not found" style="max-height: 500px;" class=" border border-secondary rounded">
            </div> 
        </div>
        </div>
        <div class="col-6 text-center">
            <br>
            <div class="row">
                <div class="col-6">
                    <p>Weight</p>
                </div>
                <div class="col-6">
                   <p>{{product?.weight}} g</p> 
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-6">
                    <p>Calories</p>
                </div>
                <div class="col-6">
                   <p>0</p> 
                </div>
                <hr>
            </div>
            <div class="row">
                <div class="col-4 text-start">
                    <p>Fat</p>
                </div>
                <div class="col-4 ">
                   <p>0 g</p> 
                </div>
                <div class="col-4 text-end">
                    <p>0 % </p> 
                 </div>
            </div>
            <div class="row">
                <div class="col-4 text-start">
                    <p>Cholesterol</p>
                </div>
                <div class="col-4">
                   <p>0 g</p> 
                </div>
                <div class="col-4 text-end">
                    <p>0 % </p> 
                 </div>
            </div>
            <div class="row">
                <div class="col-4 text-start">
                    <p>Sodium</p>
                </div>
                <div class="col-4">
                   <p>0 g</p> 
                </div>
                <div class="col-4 text-end">
                    <p>0 % </p> 
                 </div>
            </div>
            <div class="row">
                <div class="col-4 text-start">
                    <p>Potassium</p>
                </div>
                <div class="col-4">
                   <p>0 g</p> 
                </div>
                <div class="col-4 text-end">
                    <p>0 % </p> 
                 </div>
            </div>
            <div class="row">
                <div class="col-4 text-start">
                    <p>Carbohydrates</p>
                </div>
                <div class="col-4">
                   <p>0 g</p> 
                </div>
                <div class="col-4 text-end">
                    <p>0 % </p> 
                 </div>
            </div>
            <div class="row">
                <div class="col-4 text-start">
                    <p>Protein</p>
                </div>
                <div class="col-4">
                   <p>0 g</p> 
                </div>
                <div class="col-4 text-end">
                    <p>0 % </p> 
                 </div>
            </div>
            <div class="row text-center">
                <div class="col">
                    <br>
                    <button type="button" class="btn btn-success">Dodaj do listy z zakupami</button>
                </div>
            </div>      
        </div>
        
    </div>
</div>
