 <div class="container">
    <div class="row">
        <div class="col">
          <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">

            <div class="form-group" *ngIf="!authMode">
              <label for="name">Name</label>
              <input
                type="text"
                id="name"
                class="form-control"
                ngModel
                name="name"
              />
            </div>

            <div class="form-group" *ngIf="!authMode">
              <label for="surname">Surname</label>
              <input
                type="text"
                id="surname"
                class="form-control"
                ngModel
                name="surname"
              />
            </div>
        
            <div class="col-12" *ngIf="!authMode">
              <label for="surname">Birthday</label>
              <div class="input-group">
                <input
                  class="form-control"
                  placeholder="dd-MM-yyyy"
                  name="dp"
                  [(ngModel)]="model"
                  ngbDatepicker
                  #d="ngbDatepicker"
                  [value]="getFormattedDate()"
                />
                <button class="btn btn-outline-secondary bi bi-calendar3" (click)="d.toggle()" type="button"></button>
              </div>
            </div>

            <div class="col-12" *ngIf="!authMode">
              <label for="gender">Gender:</label>
              <select
                class="form-select"
                id="gender"
                name="gender"
                [(ngModel)]="gender"
              >
                <option value="M">Male</option>
                <option value="F">Female</option>
              </select>
            </div>

            <div class="form-group">
              <label for="email">E-Mail</label>
              <input
                type="email"
                id="email"
                class="form-control"
                ngModel
                name="email"
                required
                email
              />
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input
                type="password"
                id="password"
                class="form-control"
                ngModel
                name="password"
                required
                minlength="1"
              />
            </div>
            <div style="margin-top:25px ;">
              <button
                class="btn btn-primary"
                type="submit"
                [disabled]="!authForm.valid"
              >
                {{ authMode ? 'Login' : 'Sign Up' }}
              </button>
              |
              <button class="btn btn-primary" (click)="onSwitchMode()" type="button">
                Switch to {{ authMode ? 'Sign Up' : 'Login' }}
              </button>
            </div>
          </form>
        </div>
      </div>
      
 </div>
