<div class="container">


    <!-- <div>
  <h2>Dodaj obrazek</h2>
  <input type="file" (change)="onFileSelected($event)" />
  <button (click)="upload()">Prześlij</button>
</div> -->

    <div class="row text-center" >
        <div class="col" *ngIf="breakfast===undefined">
            <p>
                you don't have breakfast planned
            </p>
        </div>
        <div class="col" *ngIf="breakfast!==undefined">
            <hr>
            <h4>Breakfast</h4>
            <p>{{breakfast.title}}</p>
            <div class="row">
                <div class="col">
                    <div class="row border border-dark rounded" style="width: 400px; height: 400px;">
                        <img *ngIf="breakfastImageUrl!==null" [src]="breakfastImageUrl" alt="add photo" style="width: 100%; height: 100%; object-fit: cover;">
                    </div>
                    <div class="row" *ngIf="breakfastImageUrl!==null">
                        <div class="col-1 text-center">
                            <button class="btn btn-danger" (click)="exit()">
                                <i class="fas fa">X</i>
                            </button>
                            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
                        </div>
                    </div>
                    <div class="row" *ngIf="breakfastImageUrl===null">
                        <div class="col">
                            <input type="file" (change)="onFileSelected($event)"  />
                        </div>
                        <div class="col">
                            <button (click)="upload()">Prześlij</button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col">Rate:</div>
                        <div class="col"><ngb-rating [(rate)]="breakfast.rate" /></div>
                    </div>
                    <div class="row">
                        <div class="col">Comment:</div>
                        <div class="col"><input type="text"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row text-center">
        <div class="col" *ngIf="lunch===undefined">
            <p>
                you don't have lunch planned
            </p>
        </div>
        <div class="col" *ngIf="lunch!==undefined">
            <hr>
            <h4>Lunch</h4>
            <p>{{lunch.title}}</p>
            <div class="row">
               
                <div class="col">
                    <div class="row border border-dark rounded" style="width: 400px; height: 400px;">
                        <img *ngIf="lunchImageUrl!==null" [src]="lunchImageUrl" alt="add photo" style="width: 100%; height: 100%; object-fit: cover;">
                    </div>
                    <div class="row" *ngIf="lunchImageUrl!==null">
                        <div class="col-1 text-center">
                            <button class="btn btn-danger" (click)="exit()">
                                <i class="fas fa">X</i>
                            </button>
                            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
                        </div>
                    </div>
                    <div class="row" *ngIf="lunchImageUrl===null">
                        <div class="col">
                            <input type="file"   />
                        </div>
                        <div class="col">
                            <button  >Prześlij</button>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="row">
                        <div class="col">Rate:</div>
                        <div class="col"><ngb-rating [(rate)]="lunch.rate" /></div>
                    </div>
                    <div class="row">
                        <div class="col">Comment:</div>
                        <div class="col"><input type="text"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row text-center">
        <div class="col" *ngIf="dinner===undefined">
            <hr>
            <p>
                you don't have dinner planned
            </p>
        </div>
        <div class="col" *ngIf="dinner!==undefined">
            <hr>
            <h4>Dinner</h4>
            <p>Friut salad</p>
            <div class="row">
                <div class="col">
                    <div class="row border border-dark rounded" style="width: 400px; height: 400px;">
                        <img *ngIf="dinnerImageUrl!==null" [src]="dinnerImageUrl" alt="add photo" style="width: 100%; height: 100%; object-fit: cover;">
                    </div>
                    <div class="row" *ngIf="dinnerImageUrl!==null" >
                        <div class="col-1 text-center">
                            <button class="btn btn-danger" (click)="exit()">
                                <i class="fas fa">X</i>
                            </button>
                            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
                        </div>
                    </div>
                    <div class="row" *ngIf="dinnerImageUrl===null">
                        <div class="col">
                            <input type="file"   />
                        </div>
                        <div class="col">
                            <button  >Prześlij</button>
                        </div>
                    </div>
                </div>
                
                <div class="col">
                    <div class="row">
                        <div class="col">Rate:</div>
                        <div class="col"><ngb-rating [(rate)]="dinner.rate" /></div>
                    </div>
                    <div class="row">
                        <div class="col">Comment:</div>
                        <div class="col"><input type="text"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>