<div class="container">
    <div class="row text-center">
        <div class="col" *ngIf="breakfast===undefined">
            <br>
            <div class="alert alert-info" role="alert">
                You don't have breakfast planned for this day
              </div>
        </div>
        <div class="col" *ngIf="breakfast!==undefined">
            <hr>
            <div class="alert alert-light" role="alert">
                <h4>Breakfast</h4>
              </div>
            <br>
            <div class="row">
                <div class="col">
                    <h5 *ngIf="breakfastImageUrl===null">Add a photo of the prepared meal</h5>
                    <img *ngIf="breakfastImageUrl!==null" [src]="breakfastImageUrl" alt="add photo"
                    style="height:400px; width: 400px;" class=" border border-secondary rounded img-fluid">
                    <div *ngIf="breakfastImageUrl!==null">
                        <button class="btn btn-danger" (click)="deletePhoto(breakfast.id, breakfast.typeOfMeal)">
                            <i class="fas fa">X</i>
                        </button>
                        <link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
                    </div>
                    <br>
                    <div class="row align-items-center" *ngIf="breakfastImageUrl === null">
                        <div class="col-auto">
                            <input type="file" class="form-control" (change)="onFileSelected($event)" />
                        </div>
                        <div class="col-auto">
                            <button type="button" class="btn btn-success"
                                (click)="upload(breakfast.id, breakfast.typeOfMeal)">Send</button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <h5 class="mb-3"> {{breakfast.title}} </h5>
                    <div class="row align-items-center mb-2">
                        <div class="col-4 text-end fw-bold">Ingredients cost:</div>
                        <div class="col">
                            {{breakfast.totalPrice | number: '1.2-2'}} PLN
                        </div>
                    </div>
                    <hr>
                    <div class="row align-items-center mb-2">
                        <div class="col-3 text-end fw-bold">Rate:</div>
                        <div class="col">
                            <div class="col"><ngb-rating [(rate)]="breakfast.rate" (rateChange)="sendRate(breakfast.id, $event)"/></div>
                        </div>
                    </div>
                    <div class="row align-items-center mb-3" *ngIf="breakfast.comment.length !==0">
                        <div class="col-3 text-end fw-bold">Comment:</div>
                        <div class="col">
                            <p >{{breakfast.comment}}</p>
                        </div>
                    </div>
                    <div class="row" *ngIf="breakfast.comment.length !==0">
                        <div class="col text-center">
                            <button class="btn btn-danger" (click)="removeOpinion(breakfast.id)">Remove opinion</button>
                        </div>
                    </div>

                    <div class="row align-items-center mb-3" *ngIf="breakfast.comment.length ===0">
                        <div class="col-3 text-end fw-bold">Comment:</div>
                        <div class="col">
                            <textarea 
                            [(ngModel)]="newComment" 
                            class="form-control" 
                            rows="3" 
                            placeholder="Write your comment here" 
                            ></textarea>
                        </div>
                    </div>
                    <div class="row" *ngIf="breakfast.comment.length ===0">
                        <div class="col text-end">
                            <button class="btn btn-primary" 
                            (click)="submitComment(breakfast.id)"
                            >Submit</button>
                        </div>
                    </div>
                </div>
               
            </div>
            <br>
            <div class="row text-center">
                <div class="col">
                    <button class="btn btn-danger" (click)="deleteMeal(breakfast.id)">
                        Remove meal
                    </button>
                    <link rel="stylesheet"
                        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
                </div>
            </div>
        </div>
    </div>
    <div class="row text-center">
        <div class="col" *ngIf="lunch===undefined">
            <br>
            <div class="alert alert-info" role="alert">
                You don't have lunch planned for this day
              </div>
        </div>
        <div class="col" *ngIf="lunch!==undefined">
            <hr>
            <div class="alert alert-light" role="alert">
                <h4>Lunch</h4>
              </div>
            <br>
            <div class="row">

                <div class="col">
                    <h5 *ngIf="lunchImageUrl===null">Add a photo of the prepared meal</h5>
                    <img *ngIf="lunchImageUrl!==null" [src]="lunchImageUrl" alt="add photo"
                    style="height:400px; width: 400px;" class=" border border-secondary rounded img-fluid">
                    <div *ngIf="lunchImageUrl!==null">
                        <button class="btn btn-danger" (click)="deletePhoto(lunch.id, lunch.typeOfMeal)">
                            <i class="fas fa">X</i>
                        </button>
                        <link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
                    </div>
                    <br>
                    <div class="row align-items-center" *ngIf="lunchImageUrl === null">
                        <div class="col-auto">
                            <input type="file" class="form-control" (change)="onFileSelected($event)" />
                        </div>
                        <div class="col-auto">
                            <button type="button" class="btn btn-success"
                                (click)="upload(lunch.id, lunch.typeOfMeal)">Send</button>
                        </div>
                    </div>

                </div>
                <div class="col">
                    <h5 class="mb-3"> {{lunch.title}}</h5>
                    <div class="row align-items-center mb-2">
                        <div class="col-4 text-end fw-bold">Ingredients cost:</div>
                        <div class="col">
                            {{lunch.totalPrice | number: '1.2-2'}} PLN
                        </div>
                    </div>
                    <hr>
                    <div class="row align-items-center mb-2">
                        <div class="col-3 text-end fw-bold">Rate:</div>
                        <div class="col">
                            <div class="col"><ngb-rating [(rate)]="lunch.rate" (rateChange)="sendRate(lunch.id, $event)"/></div>
                        </div>
                    </div>
                    <div class="row align-items-center mb-3" *ngIf="lunch.comment.length !==0">
                        <div class="col-3 text-end fw-bold">Comment:</div>
                        <div class="col">
                            <p >{{lunch.comment}}</p>
                        </div>
                    </div>
                    <div class="row" *ngIf="lunch.comment.length !==0">
                        <div class="col text-center">
                            <button class="btn btn-danger" (click)="removeOpinion(lunch.id)">Remove opinion</button>
                        </div>
                    </div>

                    <div class="row align-items-center mb-3" *ngIf="lunch.comment.length ===0">
                        <div class="col-3 text-end fw-bold">Comment:</div>
                        <div class="col">
                            <textarea 
                            [(ngModel)]="newComment"
                            class="form-control" 
                            rows="3" 
                            placeholder="Write your comment here"
                            
                            ></textarea>
                        </div>
                    </div>
                    <div class="row" *ngIf="lunch.comment.length ===0">
                        <div class="col text-end">
                            <button class="btn btn-primary" (click)="submitComment(lunch.id)">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row text-center">
                <div class="col">
                    <button class="btn btn-danger" (click)="deleteMeal(lunch.id)">
                        Remove meal
                    </button>
                    <link rel="stylesheet"
                        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
                </div>
            </div>
        </div>
    </div>
    <div class="row text-center">
        <div class="col" *ngIf="dinner===undefined">
            <br>
            <div class="alert alert-info" role="alert">
                You don't have dinner planned for this day
              </div>
        </div>
        <div class="col" *ngIf="dinner!==undefined">
            <hr>
            <div class="alert alert-light" role="alert">
                <h4>Dinner</h4>
              </div>
            <br>
            <div class="row">
                <div class="col">
                    <h5 *ngIf="dinnerImageUrl===null">Add a photo of the prepared meal</h5>
                    <img *ngIf="dinnerImageUrl!==null" [src]="dinnerImageUrl" alt="add photo"
                    style="height:400px; width: 400px;" class=" border border-secondary rounded img-fluid">
                    <div *ngIf="dinnerImageUrl!==null">
                        <button class="btn btn-danger" (click)="deletePhoto(dinner.id, dinner.typeOfMeal)">
                            <i class="fas fa">X</i>
                        </button>
                        <link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
                    </div>
                    <br>
                    <div class="row align-items-center" *ngIf="dinnerImageUrl === null">
                        <div class="col-auto">
                            <input type="file" class="form-control" (change)="onFileSelected($event)" />
                        </div>
                        <div class="col-auto">
                            <button type="button" class="btn btn-success"
                                (click)="upload(dinner.id, dinner.typeOfMeal)">Send</button>
                        </div>
                    </div>

                </div>

                <div class="col">
                    <h5 class="mb-3"> {{dinner.title}}</h5>
                    <div class="row align-items-center mb-2">
                        <div class="col-4 text-end fw-bold">Ingredients cost:</div>
                        <div class="col">
                            {{dinner.totalPrice | number: '1.2-2'}} PLN
                        </div>
                    </div>
                    <hr>
                    <div class="row align-items-center mb-2">
                        <div class="col-3 text-end fw-bold">Rate:</div>
                        <div class="col">
                            <div class="col"><ngb-rating [(rate)]="dinner.rate" (rateChange)="sendRate(dinner.id,$event)"/></div>
                        </div>
                    </div>
                    <div class="row align-items-center mb-3" *ngIf="dinner.comment.length !==0">
                        <div class="col-3 text-end fw-bold">Comment:</div>
                        <div class="col">
                            <p >{{dinner.comment}}</p>
                        </div>
                    </div>
                    <div class="row" *ngIf="dinner.comment.length !==0">
                        <div class="col text-center">
                            <button class="btn btn-danger" (click)="removeOpinion(dinner.id)">Remove opinion</button>
                        </div>
                    </div>

                    <div class="row align-items-center mb-3" *ngIf="dinner.comment.length ===0">
                        <div class="col-3 text-end fw-bold">Comment:</div>
                        <div class="col">
                            <textarea 
                            class="form-control" 
                            rows="3" 
                            placeholder="Write your comment here" 
                            [(ngModel)]="newComment"
                            ></textarea>
                        </div>
                    </div> 
                    <div class="row" *ngIf="dinner.comment.length ===0">
                        <div class="col text-end">
                            <button class="btn btn-primary" (click)="submitComment(dinner.id)">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row text-center">
                <div class="col">
                    <button class="btn btn-danger" (click)="deleteMeal(dinner.id)">
                        Remove meal
                    </button>
                    <link rel="stylesheet"
                        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
                </div>
            </div>
        </div>
    </div>


</div>