<div class="containter">
    <div class="row">
        <div class="col-6"></div>
        <div class="col-6"></div>
    </div>
</div>


<br>
<br>

<h3>TODO</h3>
<p>Harmonogram żywieniowy:</p>
<ul>
    <li>Obliczanie dziennego zapotrzebowania kalorycznego użytkownika(aplikacja uwzględnia zmieniające się parametry użytkownika)</li>
    <li>Sugeruje użytkownikowi listy zakupowe na podstawie zapotrzebowania dziennego na składniki i realizowane cele żywnościowe oraz upodobania </li>
    <li>Śledzenie w jakim konkretnym dniu użytkownik spożywa dany posiłek</li>
    <li>Tworzenie statystyk i wykresów spożywanych kalorii i wartości odżywczych</li>
</ul>
 