<div class="container">
    <div class="card text-white mb-3 text-truncate"  [ngClass]="{
    'bg-primary': enum.BLUE===cardColor?true :false, 
    'bg-secondary': enum.GRAY===cardColor?true :false,
    'bg-success': enum.GREEN===cardColor?true :false, 
    'bg-warning': enum.YELLOW===cardColor?true :false,
    'bg-info': enum.TURQUOISE===cardColor?true :false, 
    'bg-dark': enum.BLACK===cardColor?true :false,
    }">
        <a [routerLink]="['shopping-list-item-details/',shoppList?.id]" style=" text-decoration: none;color: white;">
            <div class="card-body">
                <h5 class="card-title text-center">{{shoppList?.name}}</h5>
                {{shoppList?.shopping_date | date:"MMM dd, yyyy 'at' hh:mm a"}}
                <ul style="color:white">
                    <li class="card-text" *ngFor="let s of shoppList?.productShoppingLists ">
                        <div class="row">
                            <div class="col col-lg-6 text-start" *ngIf="!s.done">{{s.name}}</div>
                            <div class="col col-lg-6 text-start" *ngIf="s.done"><s>{{s.name}}</s></div>
                            <div class="col col-lg-6 text-end" *ngIf="!s.done">{{s.quantity}}</div>
                        </div>
                    </li>
                </ul>
            </div>
        </a>
            <div class="card-footer text-center border-top ">
                <button class="btn btn-light" style="margin-right: 5px;" (click)="onEdit()" >
                    <i class="fas fa-edit"></i>
                </button>
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
                <button class="btn btn-danger" (click)="onDelete()">X</button>
            </div>
        
    </div>
</div>