
<div class="container">
    <br><br>
    <div class="row">
        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2" *ngFor="let g of groceries">
            <app-groceries-item [product]="g"></app-groceries-item>
            <br>
        </div>
    </div>
</div>

<h3>TODO</h3>
<ul>
    <li>listę produktów spożywczych.</li>
    <li>Produkty będą się charakteryzowały swoją wagą, wartością odżywczą i średnią ceną oraz będą posiadały zdjęcie. </li>
    <li>Użytkownik będzie mógł dodawać produkty spożywcze do listy z zakupami  lub je usuwać.</li>
    <li>W liście zakupowej będzie także możliwość odhaczania produktów, które już są w koszyku sklepowym.</li>
</ul>

   