
<div class="container">
    <ul ngbNav #nav="ngbNav" 
    [(activeId)]="active" 
    class="nav nav-underline flex-column flex-sm-row justify-content-center" >
      <li [ngbNavItem]="1" >
        <button ngbNavLink>Nutrition</button>
        <ng-template ngbNavContent>
            <br>
            <app-nutrition-schedule 
            [breakfast]="breakfast"
            [lunch]="lunch"
            [dinner]="dinner"
            (rateChange)="handleRateChange($event)"
            (commentChange)="handleCommentChange($event)"
            ></app-nutrition-schedule>
        </ng-template>
      </li>
      <li [ngbNavItem]="2">
        <button ngbNavLink>Shopping</button>
        <ng-template ngbNavContent>
            <br>
            <app-shopping-schedule [shoppingLists]="shoppingLists"></app-shopping-schedule>
        </ng-template>
      </li>
    </ul>
    
    <div [ngbNavOutlet]="nav" class="mt-2"></div>
    <br>
</div>


