<div class="container">
    <div class="row" style="margin-top: 50px;">
        <div class="col"></div>
        <div class="col-12 col-lg-6 text-center">
            <img src="https://icons.veryicon.com/png/o/miscellaneous/rookie-official-icon-gallery/225-default-avatar.png" alt="image not found" style="max-height:500px;" class=" border border-secondary rounded img-fluid">
        </div>
        <div class="col"></div>
    </div>
    <div class="row text-center" style="margin-top: 25px;">
        <h1>{{userData?.name}} {{userData?.surname}}</h1>
        <hr>
    </div>
    <div class="row">
        <div class="col-12 text-center col-lg-6 text-center">
            <p class="fs-3">Email </p> 
         </div>
         <div class="col-12 text-center col-lg-6 text-center">
             <p class="fs-3">{{userData?.email}}</p>
         </div>  
         <hr>
    </div>
    <div class="row">
        <div class="col-12 text-center col-lg-6 text-center">
            <p class="fs-3">Gender </p> 
         </div>
         <div class="col-12 text-center col-lg-6 text-center">
             <p class="fs-3">{{ userData?.gender === 'M' ? 'male' : 'female' }}</p>
         </div>  
         <hr>
    </div>
    <div class="row">
        <div class="col-12 text-center col-lg-6 text-center">
            <p class="fs-3">Birthday </p> 
         </div>
         <div class="col-12 text-center col-lg-6 text-center">
             <p class="fs-3">{{userData?.birthday}}</p>
         </div>  
         <hr>
    </div>
    <div class="row">
        <div class="col-12 text-center col-lg-6 text-center">
            <p class="fs-3">Height </p> 
         </div>
         <div class="col-12 text-center col-lg-6 text-center">
             <p class="fs-3">184[cm]</p>
         </div>  
         <hr>
    </div>
    <div class="row">
        <div class="col-12 text-center col-lg-6 text-center">
            <p class="fs-3">Weight </p> 
         </div>
         <div class="col-12 text-center col-lg-6 text-center">
             <p class="fs-3">80[kg]</p>
         </div>  
         <hr>
    </div>
    <div class="row">
        <div class="col-12 text-center col-lg-6 text-center">
            <p class="fs-3">Body fat level </p> 
         </div>
         <div class="col-12 text-center col-lg-6 text-center">
             <p class="fs-3">15 %</p>
         </div>  
         <hr>
    </div>

    <div class="row" style="margin-bottom: 15px; margin-top: 25px;">
        <div class="col"></div>
        <div class="col-12 text-center col-lg-6 text-center">
            <button type="button" class="btn btn-secondary" (click)="logOut()">Log out</button>     
        </div>
        <div class="col"></div>
    </div>

   
</div>
