<div class="container">
    <div class="row" style="margin-top: 50px;">
        <div class="col"></div>
        <div class="col-12 col-lg-6 text-center">
            <img src="https://icons.veryicon.com/png/o/miscellaneous/rookie-official-icon-gallery/225-default-avatar.png" alt="image not found" style="max-height:500px;" class=" border border-secondary rounded img-fluid">
        </div>
        <div class="col"></div>
    </div>
    <div class="row text-center" style="margin-top: 25px;">
        <h1>{{userProfileInfo?.name}} {{userProfileInfo?.surname}}</h1>
        <hr>
    </div>
    <div class="row">
        <div class="col-12 text-center col-lg-6 text-center">
            <p class="fs-3">Email </p> 
         </div>
         <div class="col-12 text-center col-lg-6 text-center">
             <p class="fs-3">{{userProfileInfo?.email}}</p>
         </div>  
         <hr>
    </div>
    <div class="row">
        <div class="col-12 text-center col-lg-6 text-center">
            <p class="fs-3">Gender </p> 
         </div>
         <div class="col-12 text-center col-lg-6 text-center">
             <p class="fs-3">{{ userProfileInfo?.gender === 'M' ? 'male' : 'female' }}</p>
         </div>  
         <hr>
    </div>
    <div class="row">
        <div class="col-12 text-center col-lg-6 text-center">
            <p class="fs-3">Birthday </p> 
         </div>
         <div class="col-12 text-center col-lg-6 text-center">
             <p class="fs-3">{{userProfileInfo?.birthday}}</p>
         </div>  
         <hr>
    </div>

    <div class="row text-center" style="margin-top: 5px;">
        <h1>Body parameters</h1>
        <hr>
    </div>
  

    <div class="row">
        <div class="col-12 text-center col-lg-6 text-center">
            <p class="fs-3">Height </p> 
         </div>
         <div class="col-12 text-center col-lg-6 text-center">
             <p class="fs-3">{{userProfileInfo?.height}} [kg]</p>
         </div>  
         <hr>
    </div>
    <div class="row">
        <div class="col-12 text-center col-lg-6 text-center">
            <p class="fs-3">Weight </p> 
         </div>
         <div class="col-12 text-center col-lg-6 text-center">
             <p class="fs-3">{{userProfileInfo?.weight}} [cm]</p>
         </div>  
         <hr>
    </div>
    <div class="row">
        <div class="col-12 text-center col-lg-6 text-center">
            <p class="fs-3">Body fat level </p> 
         </div>
         <div class="col-12 text-center col-lg-6 text-center">
             <p class="fs-3">{{userProfileInfo?.body_fat_leve}} %</p>
         </div>  
         <hr>
    </div>
    <div class="row">
        <div class="col-12 text-center col-lg-6 text-center">
            <p class="fs-3">Abdominal circumference </p> 
         </div>
         <div class="col-12 text-center col-lg-6 text-center">
             <p class="fs-3">{{userProfileInfo?.abdominal_circumference}} [cm]</p>
         </div>  
         <hr>
    </div>
    <div class="row">
        <div class="col-12 text-center col-lg-6 text-center">
            <p class="fs-3">Physical activiy </p> 
         </div>
         <!-- niska umiarkowana duza -->
          <!--low active, Moderately active, high active -->
         <div class="col-12 text-center col-lg-6 text-center">
             <p class="fs-3">{{userProfileInfo?.physical_activity}}</p>
         </div>  
         <hr>
    </div>
    
    <div class="row" style="margin-bottom: 15px; margin-top: 15px;">
        <div class="col"></div>
        <div class="col-12 text-center col-lg-6 text-center">
            <button type="button" class="btn btn-success" style="margin-bottom: 25px; margin-right: 5px;" (click)="update()">Update body parameters</button>     
            <button type="button" class="btn btn-primary" style="margin-bottom: 25px;" (click)="history()">Body parameters history</button>     
        </div>
        <div class="col"></div>
    </div>

    

    <div class="row" style="margin-bottom: 15px; margin-top: 25px;">
        <div class="col"></div>
        <div class="col-12 text-center col-lg-6 text-center">
            <button type="button" class="btn btn-danger" (click)="logOut()">Log out</button>     
        </div>
        <div class="col"></div>
    </div>

   
</div>
