<div class="container">
    
    <div class="row text-center">
        <h1>
            {{nutritionalGoal?.name}}
        </h1>
    </div>
    <div class="row text-center text-muted">
        <h4>
            {{nutritionalGoal?.typeOfGoal}}
        </h4>
    </div>
    <div class="row" *ngIf="nutritionalGoal?.active">
        <div class="col">
            {{nutritionalGoal?.goalStartDate}}
        </div>
        <div class="col text-end">
            {{nutritionalGoal?.goalEndDate}}
        </div>
    </div>
    <ngb-progressbar class="mb-3" type="primary" [value]="nutritionalGoal?.progress!" *ngIf="nutritionalGoal?.active"/>     

<div class="row text-center">
    <div class="col">
        Current weight
    </div>
    <div class="col">
        {{user?.weight}}
    </div>
</div>
<div class="row text-center">
    <div class="col">
        Current abdominal circumference
    </div>
    <div class="col">
        {{user?.abdominal_circumference}}
    </div>
</div>
<div class="row text-center">
    <div class="col">
        Current body fat level
    </div>
    <div class="col">
        {{user?.body_fat_leve}}
    </div>
</div>
<br>
<div class="row text-center">
    <div class="col">
        Target weight
    </div>
    <div class="col">
        {{nutritionalGoal?.targetWeight}}
    </div>
</div>
<div class="row text-center">
    <div class="col">
        Target abdominal circumference
    </div>
    <div class="col">
        {{nutritionalGoal?.targetAbdominalCircumference}}
    </div>
</div>
<div class="row text-center">
    <div class="col">
        Target body fat level
    </div>
    <div class="col">
        {{nutritionalGoal?.targetBodyFatLevel}}
    </div>
</div>

            


</div>