<div class="container">
    
    <div class="row text-center">
        <h1>
            {{nutritionalGoal?.name}}
        </h1>
    </div>
    <div class="row text-center text-muted">
        <h4>
            {{nutritionalGoal?.typeOfGoal}}
        </h4>
    </div>
    <div class="row" *ngIf="nutritionalGoal?.active">
        <div class="col">
            {{nutritionalGoal?.goalStartDate}}
        </div>
        <div class="col text-end">
            {{nutritionalGoal?.goalEndDate}}
        </div>
    </div>
    <ngb-progressbar class="mb-3" type="primary" [value]="nutritionalGoal?.progress!" *ngIf="nutritionalGoal?.active"/>     

<div class="row text-center">
    <div class="col">
        Current weight
    </div>
    <div class="col">
        {{user?.weight}}
    </div>
</div>
<div class="row text-center">
    <div class="col">
        Current abdominal circumference
    </div>
    <div class="col">
        {{user?.abdominal_circumference}}
    </div>
</div>
<div class="row text-center">
    <div class="col">
        Current body fat level
    </div>
    <div class="col">
        {{user?.body_fat_leve}}
    </div>
</div>
<br>
<div class="row text-center">
    <div class="col">
        Target weight
    </div>
    <div class="col">
        {{nutritionalGoal?.targetWeight}}
    </div>
</div>
<div class="row text-center">
    <div class="col">
        Target abdominal circumference
    </div>
    <div class="col">
        {{nutritionalGoal?.targetAbdominalCircumference}}
    </div>
</div>
<div class="row text-center">
    <div class="col">
        Target body fat level
    </div>
    <div class="col">
        {{nutritionalGoal?.targetBodyFatLevel}}
    </div>
</div>
<hr>


<div class="row text-center">
    <h4>Daily demand</h4>
</div>
<div class="row text-center">
    <div class="col">
        TDEE
    </div>
    <div class="col">
        {{goalDailyDemand?.calories | number: '1.2-2' }}
    </div>
</div>
<div class="row text-center">
    <div class="col">
        Protein
    </div>
    <div class="col">
        {{goalDailyDemand?.protein | number: '1.2-2' }}
    </div>
</div>
<div class="row text-center">
    <div class="col">
        Carbs
    </div>
    <div class="col">
        {{goalDailyDemand?.carbs | number: '1.2-2' }}
    </div>
</div>
<div class="row text-center">
    <div class="col">
        Fat
    </div>
    <div class="col">
        {{goalDailyDemand?.fats | number: '1.2-2' }}
    </div>
</div>
<hr>
<div class="row text-center">
    <h4>Suggested meals</h4>
</div>  
      <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-4" *ngFor="let s of suggestedMeals">
            <div class="card h-100">
                <div class="card-img-wrapper" style="height: 200px; overflow: hidden;">
                    <img class="card-img-top img-fluid zoom" [src]="s.image_url" alt="image not found" style="object-fit: cover; width: 100%; height: 100%;">
                </div>
                <div class="card-body text-center d-flex flex-column">
                    <h5 class="card-title">{{s.title}}</h5>
                </div>
            </div>
        </div>
    </div>
</div>
<br>