<div class="container">
    <br>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-5 text-center">
            <h2>{{shoppList?.name}}</h2>
            <p>{{shoppList?.shopping_date}}</p>
        </div>
        <div class="col-3"></div>
        
    </div>
    <hr>
    <div class="row" *ngFor="let sl of shoppList?.productShoppingLists">
        <div class="col-3"></div>
        <div class="col-5">
            <div class="row">
                <div class="col-4 text-start">
                    <input 
                    class="form-check-input" 
                    type="checkbox" 
                    value="" 
                    id="flexCheckDefault"
                    [checked]="sl.done" (change)="onToggleDone(shoppList?.id!,sl)"
                    >
                </div>
                <div class="col-4 text-center"  *ngIf="!sl.done">{{sl.name}}</div>
                <div class="col-4 text-center"  *ngIf="sl.done"><s>{{sl.name}}</s></div>
                <div class="col-4 text-end">{{sl.quantity}}</div>
            </div>
        </div>
        <div class="col-3"></div>
    </div>
    <!-- <br>
    <div class="row text-center">
        <div class="col-3"></div>
        <div class="col-5">
            <button class="btn btn-light btn-outline-dark btn-lg" (click)="onAddProductToShhopingList()">
                <i class="fas fa-add"></i>
            </button>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
        </div>
        <div class="col-3"></div>
    </div> -->






</div>