<div class="container-fluid">
    <div class="row vh-100">
        <div class="col-8">
            <app-calendar-grid></app-calendar-grid>
        </div>

        <div class="col-4 d-flex flex-column">
            <div class="row">
                <div class="col text-center">Shopping list</div>
            </div>
            <div class="row border border d-flex flex-column">
                <div class="col-6">
                    <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
                        <div class="card-body">
                          <h5 class="card-title text-center" >Daily product</h5>
                          <ul>
                              <li class="card-text"> 
                            <div class="row">
                                <div class="col-6 text-start"><s>Milk</s></div>
                                <div class="col-6 text-end">4</div>   
                            </div>
                        </li>
                        <li class="card-text"> 
                            <div class="row">
                                <div class="col-6 text-start"><s>Bread</s></div>
                                <div class="col-6 text-end">1</div>   
                            </div>
                        </li>
                        <li class="card-text"> 
                            <div class="row">
                                <div class="col-6 text-start">Apple</div>
                                <div class="col-6 text-end">2</div>   
                            </div>
                        </li>
                        <li class="card-text"> 
                            <div class="row">
                                <div class="col-6 text-start">Onion</div>
                                <div class="col-6 text-end">3</div>   
                            </div>
                        </li>
                          </ul>
                        </div>
                      </div>
                </div>
                <div class="col-6 border border">
                    <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
                        <div class="card-body">
                          <h5 class="card-title text-center" >Daily product</h5>
                          <ul>
                              <li class="card-text"> 
                            <div class="row">
                                <div class="col-6 text-start"><s>Milk</s></div>
                                <div class="col-6 text-end">4</div>   
                            </div>
                        </li>
                        <li class="card-text"> 
                            <div class="row">
                                <div class="col-6 text-start"><s>Bread</s></div>
                                <div class="col-6 text-end">1</div>   
                            </div>
                        </li>
                        <li class="card-text"> 
                            <div class="row">
                                <div class="col-6 text-start">Apple</div>
                                <div class="col-6 text-end">2</div>   
                            </div>
                        </li>
                        <li class="card-text"> 
                            <div class="row">
                                <div class="col-6 text-start">Onion</div>
                                <div class="col-6 text-end">3</div>   
                            </div>
                        </li>
                          </ul>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h3>TODO</h3>

            <ul>
                <li>zrobić tu jakieś podsumowanie czy coś takiego</li>
                <li>gdzie u góry będą wyświetlone listy z zakupami, które użytkownik wyróżni jako ważne</li>
                <li>a poniżej tego będzie wyświetlony podgląd kalendarza żywieniowego</li>
            </ul>

        </div>
    </div>

</div>
