<div class="container-fluid" style="height: 100vh;">
    <div class="row overflow-x-auto flex-nowrap" style="min-height: 12rem; max-height: 12rem; margin-top: 25px;">
        <div class="col-auto" *ngFor="let sl of shoppingList">
            <app-shop-list-item 
            [shoppList]="sl"></app-shop-list-item>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>

    <div class="row h-100">
        <div class="col-12">
            <app-calendar-grid></app-calendar-grid>
        </div>
    </div>

</div>
