<div *ngIf="shoppList?.likedList" class="card text-white mb-3 text-truncate" [ngClass]="{
                'bg-primary': enum.BLUE===cardColor?true :false, 
                'bg-secondary': enum.GRAY===cardColor?true :false,
                'bg-success': enum.GREEN===cardColor?true :false, 
                'bg-warning': enum.YELLOW===cardColor?true :false,
                'bg-info': enum.TURQUOISE===cardColor?true :false, 
                'bg-dark': enum.BLACK===cardColor?true :false,
                }" style="min-width: 14rem; min-height: 12rem;max-height: 12rem;">

    <a [routerLink]="['../shopping-list/shopping-list-item-details/',shoppList?.id]" style=" text-decoration: none;color: white;">
        <div class="card-body">
            <h5 class="card-title text-center">{{shoppList?.name}}</h5>
            <!-- {{shoppList?.shopping_date | date:"hh:mm MMM dd, yyyy"}} -->
            <ul style="color:white">
                <li class="card-text" *ngFor="let s of shoppList?.productShoppingLists | slice:0:4">
                    <div class="row">
                        <div class="col col-lg-6 text-start" *ngIf="!s.done">{{s.name}}</div>
                        <div class="col col-lg-6 text-start" *ngIf="s.done"><s>{{s.name}}</s></div>
                        <div class="col col-lg-6 text-end" *ngIf="!s.done">{{s.quantity}}</div>

                        
                    </div>
                </li>
            </ul>
        </div>
    </a>
</div>