  
        <div class="card text-white bg-primary mb-3 text-truncate" style="min-width: 14rem; min-height: 12rem;max-height: 12rem;" >
            <a routerLink="/shopListDetails" style=" text-decoration: none;color: white;">
            <div class="card-body">
              <h5 class="card-title text-center" >Daily product</h5>
              <ul style="color:white">
                  <li class="card-text"> 
                <div class="row">
                    <div class="col col-lg-6 text-start"><s>Milk</s></div>
                    <div class="col col-lg-6 text-end">4</div>   
                </div>
            </li>
            <li class="card-text"> 
                <div class="row">
                    <div class="col-6 text-start"><s>Bread</s></div>
                    <div class="col-6 text-end">1</div>   
                </div>
            </li>
            <li class="card-text"> 
                <div class="row">
                    <div class="col-6 text-start">Apple</div>
                    <div class="col-6 text-end">2</div>   
                </div>
            </li>
            <li class="card-text"> 
                <div class="row">
                    <div class="col-6 text-start">Onion</div>
                    <div class="col-6 text-end">3</div>   
                </div>
            </li>
            <li class="card-text"> 
                <div class="row">
                    <div class="col-6 text-start">Onion</div>
                    <div class="col-6 text-end">3</div>   
                </div>
            </li>
              </ul>
            </div>
        </a>
        </div>

    

